.device {
    position: absolute;
    transform: scale(1);
    transform-origin: 30% 0%;
    z-index: 1;
  }
  
  @media only screen and (max-width: 1024px) {
    .device {
      transform: scale(0.75);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .device {
      transform: scale(0.66);
    }
  }
  
  @media only screen and (max-width: 640px) {
    .device {
      transform: scale(0.46);
    }
}