@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #241C4F;
  color: white;
  font-family: 'Nunito', sans-serif;
  padding: 0px;
  margin: 0px;
}

p, h1, h2, h3, h4, h5, h6, span, button, input {
  font-family: 'Nunito', sans-serif;
}
